.element__like {
    width: 45px;
    height: 19px;
    opacity: 1;
    transition: 0.5s linear;
    background-size: 100%;
    cursor: pointer;
    align-self: center;
    background-color: transparent;
    background: url('../../../images/Like.svg') center no-repeat;
    padding: 0;
    border: none;
    color: #000000;
}

.element__like:hover {
    opacity: 0.5;
}


